{% extends "layout.html" %}
{% block title %}Data{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
    <div class="content">
        <table>
            <tr>
                <th>Time</th>
                <th>Temperature</th>
                <th>Humidity</th>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{item[0]|strftime}}</td>
                <td>{{'%0.2f'|format(item[1])}}</td>
                <td>{{'%0.2f'|format(item[2])}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
