{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawTempChart);
    google.charts.setOnLoadCallback(drawHumiChart);

    function drawTempChart() {
        var data = new google.visualization.DataTable();
        var date_formatter = new google.visualization.DateFormat({
            pattern: "dd-MMM-yyyy HH:mm"
        });

        data.addColumn('date', 'Time');
        data.addColumn('number', 'Temperature');

        data.addRows([
            {% for row in data %}
                [new Date({{row[0][0:4]}},{{row[0][5:7]}}-1,{{row[0][8:10]}},{{row[0][11:13]}},{{row[0][14:16]}}),{{'%0.2f'|format(row[1])}}],
            {% endfor %}
        ]);

        date_formatter.format(data, 0);

        var options = {
            title: 'Temperature (°C)',
            hAxis: {
                format: 'dd-MMM-yyyy HH:mm'
            },
            vAxis: {
                format: '0.00'
            },
            legend: {position: 'none'},
            colors: ['#3374ca'],
            lineWidth: 3,
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_temps'));

        chart.draw(data, options);
    }

    function drawHumiChart() {
        var data = new google.visualization.DataTable();
        var date_formatter = new google.visualization.DateFormat({
            pattern: "dd-MMM-yyyy HH:mm"
        });

        data.addColumn('date', 'Time');
        data.addColumn('number', 'Humidity');

        data.addRows([
            {% for row in data %}
                [new Date({{row[0][0:4]}},{{row[0][5:7]}}-1,{{row[0][8:10]}},{{row[0][11:13]}},{{row[0][14:16]}}),{{'%0.2f'|format(row[2])}}],
            {% endfor %}
        ]);

        date_formatter.format(data, 0);

        var options = {
            title: 'Humidity (%)',
            hAxis: {
                format: 'dd-MMM-yyyy HH:mm'
            },
            vAxis: {
                format: '0.00'
            },
            legend: {position: 'none'},
            colors: ['#33ca89'],
            lineWidth: 3,
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_humi'));

        chart.draw(data, options);
    }
    </script>
{% endblock %}

{% block content %}
    <section class="main__content">
        {% for item in data %}
            {% if loop.last %}
                <section class="current">
                    <div class="current__data">
                        <span class="data_description">Temperature (°C)</span>
                        <span class="data_value">{{ '%0.2f' | format(item['temperature']) }}</span>
                    </div>
                    <div class="current__data">
                        <span class="data_description">Humidity (%)</span>
                        <span class="data_value">{{ '%0.2f' | format(item['humidity']) }}</span>
                    </div>
                </section>
                <section class="update">
                    <div class="update__time">
                        <span>Last updated: {{ item['time'] | strftime }}</span>
                    </div>
                </section>
            {% endif %}
        {% endfor %}
    </section>
    <section class="secondary__content">
        <section class="graphs">
            <div id="chart_temps" style="height: 400px"></div>
            <div id="chart_humi" style="height: 400px"></div>
        </section>
    </section>
{% endblock %}
