html {
  font-family: Lato, sans-serif;
}

/**
 * @ref: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

body {
  box-sizing: border-box;
  margin: 0;
}

*, *::after, *::before {
  box-sizing: inherit;
}

