html {
  font-family: Lato, sans-serif;
}

/**
 * @ref: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

body {
  box-sizing: border-box;
  margin: 1rem;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.header,
.main {
    max-width: 60rem;
    margin: 0 auto;
    background-color: #cae9f5;
}

.header {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  justify-content: space-between;
}

.main {
  border-radius: 0px 0px 10px 10px;
}

.current, .update, .data {
  display: flex;
  justify-content: space-around;
}

.current__data {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.data_value {
  font-size: 5rem;
}

.table {
  text-align: center;
}
